* { 
	box-sizing: border-box; 
} 

body { 
	display: flex; 
	justify-content: center; 
	align-items: center; 
} 

.carousel { 
	position: relative; 
	width: 500px; 
	height: 374px; 
	overflow: hidden; 
	background-color: #cdcdcd; 
} 

.carousel-item .slide-image { 
	width: 500px; 
	height: 374px; 
	background-size: cover; 
	background-repeat: no-repeat; 
} 

.carousel-item { 
	position: absolute; 
	width: 500px; 
	height: 374px; 
	border: none; 
	top: 0; 
	left: 100%; 
} 

.carousel-item.active { 
	left: 0; 
	transition: all 0.5s ease-out; 
} 

.carousel-item div { 
	height: 100%; 
} 

.red { 
	background-color: red; 
} 

.green { 
	background-color: green; 
} 

.yellow { 
	background-color: yellow; 
} 

.violet { 
	background-color: violet; 
}

.grid{
	display: grid;
	grid-template-columns: 1fr 1fr;
}